.add-note-container {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    color: white;
}

.add-note {
    position: relative;
    width: 600px;
    min-height: 450px;
    max-height: 90vh;
    background: white;
    margin: auto;
    border-radius: 12px;
}

.add-note .note {
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 12px;
    background: transparent;
}

.add-note svg {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 24px;
    transition: ease-in-out 0.3s;
    z-index: 99;
    cursor: pointer;
}

.add-note svg:hover {
    transform: scale(1.2);
}

.add-note .line {
    width: 100%;
    height: 1px;
    background-color: rgb(150, 150, 150);
    margin: 20px 0 15px 0;
}
.add-note h4,
.add-note p {
    background-color: transparent;
    outline: none;
    border: none;
}

.add-note .bottom-buttons {
    background: transparent;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    gap: 24px;
}

.add-note .tags {
    position: relative;
    overflow: auto;
    display: flex;
    height: auto;
    width: 100%;
    padding: 4px 0;
    align-items: center;
    gap: 8px;
}

.add-note .tag {
    padding: 4px 16px;
    border-radius: 12px;
    font-size: 12px;
    white-space: nowrap;
    cursor: pointer;
    width: 100%;
}

.add-note .add-button {
    border: 2px solid #0f5132;
    border-radius: 8px;
    padding: 4px 20px;
    background: #0f5132;
    color: white;
    font-size: 18px;
    transition: ease-in-out 0.3s;
}

.edit-note .add-button:hover {
    background: white;
    color: black;
}

@media (max-width: 767px) {
    .add-note {
        width: 80%;
    }
}

@media (max-width: 520px) {
    .add-note {
        width: 90%;
    }
    .add-note .note {
        height: calc(100% - 120px);
    }
    .add-note .bottom-buttons {
        padding: 12px 20px;
        height: 120px;
        flex-direction: column;
        gap: 12px;
    }
}
