* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.glass-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.scrollbar {
    scrollbar-color: #2e343d transparent;
    scrollbar-width: thin;
}
.scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}
.scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    opacity: 0;
}
.scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #2e343d;
    opacity: 1;
}
