.navbar-container {
    width: 100%;
    padding: 6px 50px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

.logout {
    border: none;
    background-color: transparent;
    color: white;
}

.logout:hover {
    color: crimson;
}

@media (max-width: 560px) {
    .navbar-container {
        padding: 4px 20px;
    }
}
